/* Clear Sans Font */
@font-face {
  font-family: "Clear Sans";
  src: url("ClearSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clear Sans";
  src: url("ClearSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
